
input[type=number] {
  -moz-appearance:textfield; /* Firefox */
}

.brand {
  color: rgba(233, 67, 17, 0.767) !important;
  font-size: 25pt !important;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif  !important;  
}